.batched-mesh-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;

  .three-container {
    width: 100%;
    height: 100%;
  }

  .info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    pointer-events: none;
    user-select: none;

    a {
      color: #88f;
      text-decoration: underline;
      pointer-events: auto;
    }
  }
}

